* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
}

.a {
    margin-left: 15px;
    background-color: #fdfdfdd8;
    border-radius: 20px;
    box-shadow: -3px 4px 6px #00f7ff;

}

h1 {
    height: 100%;
    color: aliceblue;


}

.header {
    width: 100%;
    display: flex;
    background-color: #1478bb;
    align-items: center;
    height: 100px;

}



.titulo {
    margin: auto;
    text-shadow: -3px 4px 6px #00f7ff;
}

.nav {
    width: 200px;
    padding: 5px;

}

.videos {
    border: 20px solid rgba(16, 16, 16, 0.808);
    border-radius: 15px;

}

iframe {
    height: 450px;

}


.images {
    display: flex;
    flex-wrap: wrap-reverse;
    background: #47d3ff;
    background: -webkit-linear-gradient(0deg, #4f54df 0%, #0d3b98 100%);
    background: radial-gradient(circle, transparent 20%, #0d3b98 20%, #0d3b98 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #47d3ff 20%, #47d3ff 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#474bff 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #474bff 2px, #47d3ff 2px) -1px 0px / 32px 32px #47d3ff;
    padding-bottom: 50px;

}

.card-img-top {
    width: 100%;
    height: 200px;

}

.images div {
    margin: 10px;
    margin: auto;
    margin-top: 20px;
    width: 400px;
    background-color: #161616;
    color: #fff;
    transition-duration: .5s;

}


.images div img{
    transition-duration: .5s;
}

.images div img:hover {
    height: 220px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.card-body {
    height: 350px;
}

.card:hover {

    box-shadow: 8px 8px 10px rgb(216, 203, 195);
    cursor: pointer;

}

.footer {
    padding: 0 0px;
    text-align: center;
    background-color: #161616;
    color: aliceblue;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #00bec4;
}


@media (max-width: 980px) {
    .titulo {
        width: 60%;
        text-align: end;
    }


}

@media (max-width: 560px) {
    .nav {
        width: 140px;
    }

}